/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*Here our code starts*/

nav {

    box-sizing: border-box;
    height: 43px;
    padding: 4px 15px 2px;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    border-bottom: 1px solid #e2e2e2;
    position: fixed;
    background-color: white;
    width: 100%;
    top: 0;
    z-index: 1;
}

nav a {
    color: #000;
}

.menu {
    font-size: 14.25px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    line-height: 19px;
    float: left;
    padding-top: 8px;
}

.menu a {
    text-decoration: none;
}

.menu li {
    display: inline;
    margin-right: 15px;
}

.nyt-logo {
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
}

.subscribe {
    float: right;
    text-align: right;
}

.subscribe li {
    display: inline;
    margin-left: 15px;
}

.subscribe a {
    font-size: 13px;
    font-weight: 550
}

.subscribe button {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 3px;
    width: 64px;
    height: 32px;
}

article {
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    position: relative;
    top: 43px;
}

article header{
    margin: 25px 202px 43px 202px;
}

h1 {
    font-family: nyt-cheltenham,georgia,'times new roman',times,serif;
    color: #121212;
    font-size:30px;
    line-height: 3rem;
    font-weight: 700;
    font-style: italic;
    text-align: left;
}

h1, article > p, article > h2, .video {
    margin: 0 auto;
    width: 600px;
}

h1 span {
    display: inline-block;
    max-width: 390px;
}

.main div{
    margin: 0 89.5px 0 89.5px;
}

.main div p{
    margin-left: 285px;
    width: 600px;
}

img[class$="one"]{
    width: 100%;
}

img[class$="three"]{
    width: 600px;
    margin-left: 285px;
}

.main iframe{
    width: 600px;
    height: 319px;
    margin-left: calc(285px + 89.5px);
}

.inflation{
    margin: 0 202px 0 202px;
}

.inflation img{
    width: 100%;
}